header{
    .headertop{
        display: flex;
        justify-content:space-between;
        width:100%;
        border-bottom: 1px solid black;
    
    .socialmedia ul  {
        display: flex;
        flex-direction: row;
        gap:15px;
       
    }
    .socialmedia ul li {
        text-decoration: none;
        list-style-type: none;
        align-items: center;
    }
    .freeshippingcard{
        align-items: center;
    }
    .headeraction{
        display:flex;
        gap:15px;
        align-items: center;
    }
}
}